.contacts__container {
  margin: 3rem;
}
.contact__title {
  font-size: 3.3rem;
  color: #4ac97d;
}

.email__conatainer {
  display: flex;
  padding: 3rem;
}

.contact__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  font-family: Inter;
}

.some__border {
}
