.card__container {
  width: 40%;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.small__title {
}
.arrow_image {
}
.small_title_1 {
}

.main__title {
}
.card__name {
}
.card__email {
}
.card__country {
}
