.start__page__container {
  display: flex;
  width: 100;
  height: 100vh;
}

.start__page__left {
  flex: 1;
  background-color: var(--Azul_Escuro);
  padding: 2rem 4rem;
}
.start__desc {
  color: white;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
}
.start__desc__detail {
  color: #fff;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 300;
  line-height: 107.023%;
}

.start__page__right {
  flex: 1.5;
  background-color: white;
  padding: 2rem 4rem;
}

.start_assist_logo {
  width: 7rem;
  aspect-ratio: 2/1;
}
